.main-index{
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.main-index div
{
    margin-left: 3rem;
}

h3{
    width: 99%;
    font-weight: bold !important;
}

.cytat{
    width: 99%;
    font-weight: bold;
    font-size: 50px;
    margin: 0 0 0 0 !important;
}

.nad-cyctatem{
    width: 99%;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 0 0 !important;
    flex: 1;
}

.pod-cytatem{
    width: 99%;
    margin-left: 0rem;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    flex: 1;
}

.container-numers{
    background-image: url(../src/red_bg.png);
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25rem;
}

.container-numers div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-numers div span{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 55px;
    margin-top: 1rem;
}

.container-numers div p{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

@media (max-width: 768px) {
    .nad-cyctatem
    {
        margin-top: 6rem !important;
    }
    .cytat{
        font-size: 32px;
        margin: 1rem 0 7rem 0 !important;
    }
    .main-index div{
        margin-left: 1rem !important;
    }
    .container-numers div span{
        font-size: 25px;
    }
    .container-numers div p{
        font-size: 15px;
    }
}

@media (max-width: 350px) {
    .nad-cyctatem
    {
        margin-top: 3rem !important;
    }
    .cytat{
        font-size: 26px;
        margin: 1rem 0 3rem 0 !important;
    }
    .main-index div{
        margin-left: 1rem !important;
    }
    .container-numers div span{
        font-size: 15px;
    }
    .container-numers div p{
        font-size: 10px;
    }
}
